experiments/0919_debug_train_resnet/best/config.json
experiments/0919_debug_train_resnet/best/model.safetensors
experiments/0919_debug_train_resnet/best/training_args.bin
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/config.json
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/model.safetensors
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/optimizer.pt
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/rng_state.pth
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/scheduler.pt
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/trainer_state.json
experiments/0919_debug_train_resnet/ckpt/checkpoint-500/training_args.bin
logs/0919_debug_train_resnet/events.out.tfevents.1758349592.DESKTOP-V6G5JP8.12312.0
logs/0919_debug_train_resnet/events.out.tfevents.1758349625.DESKTOP-V6G5JP8.29272.0
logs/0919_debug_train_resnet/events.out.tfevents.1758349699.DESKTOP-V6G5JP8.26360.0
logs/0919_debug_train_resnet/events.out.tfevents.1758349794.DESKTOP-V6G5JP8.22240.0
logs/0919_debug_train_resnet/events.out.tfevents.1758349862.DESKTOP-V6G5JP8.10720.0
logs/0919_debug_train_resnet/events.out.tfevents.1758349906.DESKTOP-V6G5JP8.3236.0
logs/0919_debug_train_resnet/events.out.tfevents.1758349975.DESKTOP-V6G5JP8.12312.0
logs/0919_debug_train_resnet/events.out.tfevents.1758350235.DESKTOP-V6G5JP8.22640.0
logs/0919_debug_train_resnet/events.out.tfevents.1758350517.DESKTOP-V6G5JP8.27368.0
logs/0919_debug_train_resnet/events.out.tfevents.1758351160.DESKTOP-V6G5JP8.24932.0
logs/0919_debug_train_resnet/events.out.tfevents.1758351407.DESKTOP-V6G5JP8.15128.0
